$app-primary: mat-palette($mat-blue-grey, 800, 900, 900);
$app-accent: mat-palette($mat-light-blue, 800, 500, 600);
$app-warn: mat-palette($mat-deep-orange, A200);

$app-theme: mat-light-theme(
    $app-primary,
    $app-accent,
    $app-warn
);
