<div class="chat-window">
  <div class="chat-message-list" #scrollMe>
    <ul>
      <li class="chat-message" [ngClass]="{'left': message.bot, 'right': !message.bot}" *ngFor="let message of chatMessages | async"
        [@fadeIn]>
        <div class="chat-message-image">
          <i class="material-icons">{{message.bot ? 'help_outline' : 'face'}}</i>
        </div>
        <div class="chat-message-content">
          <div class="chat-message-author">{{message.bot ? 'Chatbot' : 'Ich'}}</div>
          {{message.text}}
          <ul class="chat-message-location-list" *ngIf="message.selectList?.length > 0">
            <li *ngFor="let select of message.selectList" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
              <div fxFlex="60">{{select}}</div>
              <div fxFlex="40">
                <button mat-button (click)="sendMessage(select)">Wählen</button>
              </div>
            </li>
          </ul>
          <ul class="chat-message-location-list" *ngIf="message.locationsList?.length > 0">
            <li *ngFor="let location of message.locationsList" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
              <img [src]="location.icon" class="location-icon" alt="icon" fxFlex="7" />
              <div class="container" fxLayout="column" fxLayoutAlign="start start" fxFlex="93">
                <div class="location-name">{{location.name}}</div>
                <app-location-rating [rating]="location.rating"></app-location-rating>
              </div>
              <button mat-button (click)="showLocationDetails(location)">Wählen</button>
            </li>
          </ul>
          <app-location-detail *ngIf="message.locationDetail" [location]="message.locationDetail"></app-location-detail>
        </div>
      </li>
      <li class="chat-message left" [@fadeIn] *ngIf="isLoading | async">
        <div class="chat-message-image">
          <i class="material-icons">help_outline</i>
        </div>
        <div class="chat-message-content">
          <div class="chat-message-author">Chatbot</div>
          <div>
            <app-loading-spinner></app-loading-spinner>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="bottom-bar">
    <ul class="possibleAnswers">
      <li *ngFor="let answer of (possibleAnswers | async)">
        <button mat-button (click)="sendMessage(answer)">{{answer}}</button>
      </li>
    </ul>
    <mat-form-field floatPlaceholder="never" color="accent">
      <textarea matInput #chatInput (keyup.enter)="chatInputController(chatInput)" placeholder="Frag mich etwas..." matTextareaAutosize
        matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
    </mat-form-field>
    <div class="message-send-button">
      <button mat-fab (click)="chatInputController(chatInput)">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </div>
</div>
