@mixin chat-dialog-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .chat-window {
    position: relative;
    height: 100%;

    .bottom-bar {
      position: absolute;
      bottom: 0;
      width: 100%;
      background: mat-color($background, background);

      mat-form-field {
        width: calc(100% - 7rem);
        margin-left: 1rem;
      }

      .message-send-button {
        position: relative;
        float: right;
        margin: 1rem;
      }

      ul.possibleAnswers {
        background: #b0bec540;
        height: 2.5rem;
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: auto;
        white-space: nowrap;

        li {
          display: inline-block;
          height: 100%;

          button {
            height: 100%;
          }
        }
      }
    }

    .chat-message-list {
      position: relative;
      overflow: auto;
      height: calc(100% - 8rem);

      ul{
        list-style: none;
        padding: 2rem;
        margin: 0;

        @media only screen and (max-width: 500px) {
          padding: .8rem;
        }
      }

      .card-body {
        max-height: 380px;
        overflow: auto;
      }

      .card-header {
        font-weight: 600;
      }

      .card-header > .authors {
        font-weight: 400;
      }

      .chat-message {
        width: 70%;
        position: relative;
        margin-top: .5rem;
        margin-bottom: .5rem;

        &:last-child{
          padding-bottom: 2rem;
        }
      }

      .chat-message.left {
        float: left;
      }

      .chat-message.right {
        float: right;
      }

      .chat-message.left > .chat-message-image {
        position: absolute;
        width: 2.5rem;
        left: 0;
        line-height: 3.3rem;
        height: 2.5rem;
        color: white;
        background: rgba(177, 177, 177, 0.21176470588235294);
        border-radius: 50%;
        text-align: center;
      }

      .chat-message.left > .chat-message-content {
        margin-left: 3.5rem;
      }

      .chat-message.right > .chat-message-image {
        position: absolute;
        width: 2.5rem;
        right: 0;
        line-height: 3.3rem;
        height: 2.5rem;
        color: white;
        background: rgba(156, 204, 101, 0.47843137254901963);
        border-radius: 50%;
        text-align: center;
      }

      .chat-message.right > .chat-message-content {
        margin-right: 3.5rem;
      }

      .chat-message.right > .chat-message-content {
        background: rgba(156, 204, 101, 0.47843137254901963);
      }

      .chat-message.left > .chat-message-content {
        background: rgba(224, 224, 224, 0.28);
      }

      .chat-message.left > .chat-message-content:before {
        // content: "";
        border-style: solid;
        border-width: 11px 11px 10px 0;
        border-color: transparent rgba(177, 177, 177, 0.21176470588235294) transparent transparent;
        position: absolute;
        margin-left: -1rem;
        margin-top: -1.08rem;
        transform: rotate(138deg);
      }

      .chat-message.right > .chat-message-content:before {
        // content: "";
        border-style: solid;
        border-width: 10px 15px 10px 0;
        border-color: transparent rgba(156, 204, 101, 0.47843137254901963) transparent transparent;
        position: absolute;
        right: 0;
        margin-right: 3.55rem;
        margin-top: -1.06rem;
        transform: rotate(34deg);
      }

      .chat-message-content {
        padding: .7rem;
        font-family: sans-serif;
        line-height: 1.3rem;
        font-size: .9rem;
      }

      .chat-message-author {
        font-size: .8rem;
        padding-bottom: .3rem;
        color: mat-color($foreground, text);
      }

      img {
        max-width: 100%;
      }

      @media only screen and (max-width: 500px) {
        .chat-message {
            width: 100%;
        }
      }

      .chat-message-content > ul {
        list-style: initial;
        margin-left: 1.5rem;
        margin-top: 1rem;
      }

      a {
        color: #1565C0;
      }

    }
  }
}
