<div class="content-border">
  <h1>Über</h1>

  <table class="table-detail">
    <tr>
      <td>Projekt:</td>
      <td>Event Chatbot</td>
    </tr>
    <tr>
      <td>Entwickler</td>
      <td>Philipp Kief</td>
    </tr>
    <tr>
      <td>Jahr</td>
      <td>2018</td>
    </tr>
  </table>

  <div class="social-media-buttons">
    <a class="twitter-follow-button" target="_blank" href="https://twitter.com/PhilippKief?ref_src=twsrc%5Etfw" mat-raised-button>@PhilippKief folgen</a>
  </div>
  <br>
  <div>
    <button mat-button routerLink="/chat">Zurück zum Chat?</button>
  </div>
</div>
