$app-primary: mat-palette($mat-blue, 700, 800, 900);
$app-accent: mat-palette($mat-grey, 200, 300, 500);
$app-warn: mat-palette($mat-deep-orange, A200);

$app-theme: mat-light-theme(
    $app-primary,
    $app-accent,
    $app-warn
);
